td,
th {
    border: 3px solid rgb(171, 208, 209);
    border-inline: none;
}

caption {
    text-align: left;
}

thead {
    height: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 40%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border-style: hidden;
}

.container {
    width: 100%;
    height: 900px;
    background-color: rgb(171, 208, 209);
    padding: 70px;
}

.name {
    float: left;
    padding: 10px;
    margin-top: 15px;

}

.img-1 {
    float: left;
    width: 150px;
    height: 150px;
}

.img-2 {
    float: left;
    width: 30px;
    height: 30px;
    margin: 60px;
}

.logo {
    width: 100px;
    height: auto;
    vertical-align: top;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    color: rgb(74, 101, 120)
}

h4 {
    margin: 2px;
    margin-left: 9px;
    color: rgb(171, 208, 209);
}

p {
    color: rgb(171, 208, 209);
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 2px;
}

button {
    float: right;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(74, 101, 120);
    cursor: pointer;
}

button:hover {
    background-color: rgb(46, 46, 87);
}

button:focus {
    background-color: antiquewhite;
}

button:active {
    background-color: aquamarine;
}


span {
    color: white;

}


.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: antiquewhite;
}

.custom-link:visited {
    color: red;
}