@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* @font-face {
    font-family: 'LilitaOne-Regular';
    src: url(..\font\LilitaOne-Regular.ttf)
} */

body {
    margin: 0px;
    font-family: 'Lilita One', sans-serif;

}

div,
input,
textarea,
form {
    box-sizing: border-box;
}


p {
    margin-bottom: 2px;
}

input {
    padding: 10px;
}

input[type=email]:focus {
    background-color: #eee;
}


.main-container {
    padding: 30px;
    margin: auto;
    width: 100%;
    height: 700px;
    /* background-color: #eee; */
}

.first {
    float: left;
    width: 50%;
    padding: 10px;
    /* margin-right: 13px; */

}

.last {
    float: left;
    width: 50%;
    padding: 10px;
}

.message {
    clear: both;
    position: relative;
    top: 8px;
    padding: 10px;

}

.send-button {
    background-color: rgb(235, 190, 66);
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
    width: 90px;
    float: right;
    margin: 10px;
}