.left {
    width: 80%;
    height: 150px;
    background-color: green;
    float: left;
}

.right-img {
    width: 20%;
    height: 150px;
    background-color: blue;
    float: left;
}

.profile {
    width: 100%;
    height: 30%;
    background-color: white;
    float: left;
}

.profile-detail {
    float: left;
}

.profile h4 {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 1px;
    padding-left: 10px;
}

.profile p {
    font-size: 10px;
    color: gray;
    padding-left: 10px;
    margin: 0px;
}


.h1 {
    width: 100%;
    height: 15%;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    float: left;
}



.description {
    width: 100%;
    height: 40%;
    font-size: 13px;
    background: white;
    float: left;
}

.icon {
    width: 100%;
    height: 15%;
    font-size: 10px;
    background: white;
    float: left;
}

.navbar>li {
    display: inline-block;
    width: 60px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.content {
    text-align: center;
}