@use "_reset";

ul {
  list-style-type: none;
}

p {
  margin: 0px;
}

li {
  div {
    border: 1px solid #eee;
    padding: 10px;
  }
}

.active {
  background-color: rgb(86, 86, 239);
  color: aliceblue;
}

.alert {
  height: 100%;
  width: 90vw;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}

.alert-green {
  @extend .alert;
  background-color: rgb(208, 232, 208);
  span {
    font-weight: bold;
    color: rgb(90, 114, 82);
  }
  p {
    color: rgb(77, 120, 77);
  }
}

.alert-blue {
  @extend .alert;
  background-color: rgb(195, 216, 238);
  span {
    font-weight: bold;
    color: rgb(85, 99, 124);
  }
  p {
    color: rgb(86, 121, 149);
  }
}

.alert-red {
  @extend .alert;
  background-color: rgb(245, 212, 212);
  span {
    font-weight: bold;
    color: rgb(141, 98, 90);
  }
  p {
    color: rgb(193, 121, 113);
  }
}

@mixin column($rate) {
  float: left;
  width: $rate;
  padding: 15px;
}

.row .col-6 {
  @include column(50%);
}

.row .col-4 {
  @include column(33.3333%);
}

.row .col-3 {
  @include column(25%);
}
